<html>

<head>
  <title>Senha incorreta</title>
  <link rel="stylesheet" href="styles/global.css">

  <script>
    confirm('Senha incorreta');
    window.location.replace('/room/<%= roomId%>')
  </script>
</head>

</html>