<section>
  <h2>Entre como participante</h2>
  <form action="/enter-room" method="POST">
    <label class="sr-only" for="room-id">Codigo da sala</label>
    <input name="roomId" placeholder="Codigo da sala" type="number" id="room-id">
    <button>
      <img src="images/enter-room.svg" alt="entrar na sala">
      Entrar na Sala
    </button>
  </form>
</section>
<div class="separator">
  <div></div>
  <div>ou</div>
  <div></div>
</div>

<section>
  <h2>Crie sua sala de forma muito facil</h2>
  <a class="button outlined" href="/create-pass">
    <img src="images/users.svg" alt="criar sala">
    Criar sala
  </a>
</section>